{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "favicon.png" %}">

    <title>About ASCO</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static "carousel.css" %}" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper" >
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li style="margin-left:80px; "><a href="/">Home</a></li>
                <li class="active" style="font-size:20px"><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      


      <!-- START THE FEATURETTES -->

      


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">ASCO <span class="text-muted" style="font-size:45px">  Industrial Support Services</span></h2>
          <p class="lead" style="margin-top:25px"> We are pleased to introduce ourselves as one of the leading Industrial Support Service Providers of Saudi Arabia. We are located in Jubail Industrial City and our major work sectors are oil & petrochemical industries, power plants and civil construction sites. At ASCO we have qualified and experienced personnel that are responsible for driving the company towards success. 

          </p> </br>

          <p class="lead">There is a story in every project we support. No matter what our client's project is, we offer such versatile solutions with the desire and dedication to get the job done right. We don't just help you build the project, we support you from the beginning to the very end with total commitment and dedication. ASCO is regularly providing various support services to SABIC, Saudi Aramco, Ma'aden, Saudi Electricity Company and Marafiq, which are some of the biggest industries in Saudi Arabia </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image" style="margin-top:165px">
        </div>
      </div>

      <hr class="featurette-divider">
      <h1>clients here</h1>
            
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>ASCO &copy; 2013 Company &middot; 
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "jquery.js" %}"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>
    <script src="{% static "holder.js" %}" ></script>
  </body>
</html>
