{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static "favicon.png" %}">

    <title>Contact ASCO</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static "carousel.css" %}" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper" >
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li style="margin-left:80px; "><a href="/">Home</a></li>
                <li ><a href="/about">About Us</a></li>
                <li class="active" style="font-size:20px"><a href="/contact">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      


      <!-- START THE FEATURETTES -->

      


      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Head Office<span class="text-muted" style="font-size:45px"> </span></h2>
          <address>
            <strong>Abdullah S. Al-Ghamdi & Partners Co.</strong><br>
              Al-Jubail Industrial City<br>
              Eastern Province, Saudi Arabia.<br>
              Post Box No: 1293<br>
              Tel/Fax: <b> +966 3 363 2237</b><br>
              Email: <b>info@asco.com</b>
           
          </address>


           <hr> 
          <ul class="thumbnails" style="list-style-type:none;">
            <li class="span5 clearfix" style="margin-left:-50px; margin-bottom:25px">
              <div class="thumbnail clearfix">
                <img src="http://placehold.it/120x120" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
                <div class="caption" class="pull-left">
                  <a href="mailto:##" class="btn btn-primary icon  pull-right">Email me</a>
                    <h4 style="color:#0099FF
">      
                      Philip Manulat
                    </h4>
                  <small><b>Position</b></small></br>
                  <small>philip@asco.com</small></br>
                  <small>03034154</small>
                </div>
              </div>
            </li>


            <li class="span5 clearfix" style="margin-left:-50px; margin-bottom:25px">
              <div class="thumbnail clearfix">
                <img src="http://placehold.it/120x120" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
                <div class="caption" class="pull-left">
                  <a href="mailto:##" class="btn btn-primary icon  pull-right">Email me</a>
                    <h4 style="color:#0099FF
">      
                      Badr
                    </h4>
                  <small><b>Position</b></small></br>
                  <small>badr@asco.com</small></br>
                  <small>03034154</small>
                </div>
              </div>
            </li>
          






          </ul>

        </div>
        
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x250/auto" alt="Generic placeholder image" style="margin-top:165px">
        </div>
        <div class="col-md-5" style="margin-top:20px;">
          <iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
        </div>
      </div>

     

      <hr class="featurette-divider">
     



      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Branch Office<span class="text-muted" style="font-size:45px"> </span></h2>
          
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="data:image/png;base64," data-src="holder.js/500x500/auto" alt="Generic placeholder image" style="margin-top:165px">
        </div>
      </div>
            
      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>ASCO &copy; 2013 Company &middot; 
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static "jquery.js" %}"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>
    <script src="{% static "holder.js" %}" ></script>
  </body>
</html>
